body,html{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body{
    background:url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


.section{
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: azure;
    width: 80%;
}

.dob_section{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.dob, .dob_btn{
    padding: 14px 18px;
}

.display{
    background-color: rgb(19, 17, 13);
    color: #fff;
    padding: 10px 20px;
}

p{
    text-align: center;
}


nav{
    display: flex;
    justify-content: space-between;
  
  top: 0;
  align-items: center;
  padding-top: 25px 0;
  padding-bottom: 5px;
  margin-top: 20px;
}

nav div{
  /* background-color: white; */
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
 
  margin-right: 30rem;
  font-weight: 900;

}

nav ul{
    display: flex;
  gap: 90px;
  list-style: none;
  text-transform: capitalize;
  color:goldenrod;

 
  

}
nav div a {
  text-decoration: none;
  color:gold;
  font-size: larger;

}